In [1]:
!pip install lifetimes
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from lifetimes.plotting import plot_period_transactions

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option('display.float_format', lambda x: '%.4f' % x)
from sklearn.preprocessing import MinMaxScaler

Requirement already satisfied: lifetimes in c:\users\hllzn\anaconda3\lib\site-packages (0.11.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\hllzn\anaconda3\lib\site-packages (from lifetimes) (1.4.4)
Requirement already satisfied: numpy>=1.10.0 in c:\users\hllzn\anaconda3\lib\site-packages (from lifetimes) (1.24.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hllzn\anaconda3\lib\site-packages (from lifetimes) (1.9.1)
Requirement already satisfied: autograd>=1.2.0 in c:\users\hllzn\anaconda3\lib\site-packages (from lifetimes) (1.6.2)
Requirement already satisfied: dill>=0.2.6 in c:\users\hllzn\anaconda3\lib\site-packages (from lifetimes) (0.3.4)
Requirement already satisfied: future>=0.15.2 in c:\users\hllzn\anaconda3\lib\site-packages (from autograd>=1.2.0->lifetimes) (0.18.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hllzn\anaconda3\lib\site-packages (from pandas>=0.24.0->lifetimes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hllzn\anaconda3\lib\site-packages (from pandas>=0.24.0->lifetimes) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\hllzn\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->lifetimes) (1.16.0)

In [2]:
# RFM ile Müşteri Segmentasyonu (Customer Segmentation with RFM)
###############################################################

###############################################################
# İş Problemi (Business Problem)
###############################################################
# FLO müşterilerini segmentlere ayırıp bu segmentlere göre pazarlama stratejileri belirlemek istiyor.
# Buna yönelik olarak müşterilerin davranışları tanımlanacak ve bu davranış öbeklenmelerine göre gruplar oluşturulacak..

###############################################################
# Veri Seti Hikayesi
###############################################################

# Veri seti son alışverişlerini 2020 - 2021 yıllarında OmniChannel(hem online hem offline alışveriş yapan) olarak yapan müşterilerin geçmiş alışveriş davranışlarından
# elde edilen bilgilerden oluşmaktadır.

# master_id: Eşsiz müşteri numarası
# order_channel : Alışveriş yapılan platforma ait hangi kanalın kullanıldığı (Android, ios, Desktop, Mobile, Offline)
# last_order_channel : En son alışverişin yapıldığı kanal
# first_order_date : Müşterinin yaptığı ilk alışveriş tarihi
# last_order_date : Müşterinin yaptığı son alışveriş tarihi
# last_order_date_online : Muşterinin online platformda yaptığı son alışveriş tarihi
# last_order_date_offline : Muşterinin offline platformda yaptığı son alışveriş tarihi
# order_num_total_ever_online : Müşterinin online platformda yaptığı toplam alışveriş sayısı
# order_num_total_ever_offline : Müşterinin offline'da yaptığı toplam alışveriş sayısı
# customer_value_total_ever_offline : Müşterinin offline alışverişlerinde ödediği toplam ücret
# customer_value_total_ever_online : Müşterinin online alışverişlerinde ödediği toplam ücret
# interested_in_categories_12 : Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

###############################################################
# GÖREVLER
###############################################################

# GÖREV 1: Veriyi Anlama (Data Understanding) ve Hazırlama
           # 1. flo_data_20K.csv verisini okuyunuz.
           # 2. Veri setinde
                     # a. İlk 10 gözlem,
                     # b. Değişken isimleri,
                     # c. Betimsel istatistik,
                     # d. Boş değer,
                     # e. Değişken tipleri, incelemesi yapınız.
           # 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam
           # alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.
           # 4. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.
           # 5. Alışveriş kanallarındaki müşteri sayısının, ortalama alınan ürün sayısının ve ortalama harcamaların dağılımına bakınız.
           # 6. En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.
           # 7. En fazla siparişi veren ilk 10 müşteriyi sıralayınız.
           # 8. Veri ön hazırlık sürecini fonksiyonlaştırınız.

In [3]:
#Görev 1:
df_=pd.read_csv("flo_data_20K.csv")
df=df_.copy()
# a. İlk 10 gözlem,
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                       4.0000                        1.0000                           139.9900                          799.3800                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                      19.0000                        2.0000                           159.9700                         1853.5800  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                       3.0000                        2.0000                           189.9700                          395.3500                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                       1.0000                        1.0000                            39.9900                           81.9800               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                       1.0000                        1.0000                            49.9900                          159.9900                       [AKTIFSPOR]

In [4]:
# b. Değişken isimleri,
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [5]:
# c. Betimsel istatistik
df.describe().T

                                       count     mean      std     min      25%      50%      75%        max
order_num_total_ever_online       19945.0000   3.1109   4.2256  1.0000   1.0000   2.0000   4.0000   200.0000
order_num_total_ever_offline      19945.0000   1.9139   2.0629  1.0000   1.0000   1.0000   2.0000   109.0000
customer_value_total_ever_offline 19945.0000 253.9226 301.5329 10.0000  99.9900 179.9800 319.9700 18119.1400
customer_value_total_ever_online  19945.0000 497.3217 832.6019 12.9900 149.9800 286.4600 578.4400 45220.1300

In [6]:
 # d. Boş değer
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [7]:
# e Değişken tipleri, incelemesi yapınız.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [8]:
# 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir.
# Herbir müşterinin toplam alışveriş sayısı ve harcaması için yeni değişkenler oluşturunuz.
df["order_num_total"]=df["order_num_total_ever_offline"]+df["order_num_total_ever_online"]
df["customer_value_total"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

In [9]:
#obj tipinin içinde date ler !!
date_columns = df.columns[df.columns.str.contains("date")]
date_columns

Index(['first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline'], dtype='object')

In [10]:
#date içeren kolonlara apply ile datetime değişkeni sağladık
df[date_columns] = df[date_columns].apply(pd.to_datetime)

In [11]:
#5.Alışveriş kanallarındaki müşteri sayısının, toplam alınan ürün sayısı ve toplam harcamaların dağılımına bakınız. 
df.groupby("order_channel").agg({"master_id":"count",
                                 "order_num_total":"sum",
                                 "customer_value_total":"sum"})

               master_id  order_num_total  customer_value_total
order_channel
Android App         9495       52269.0000          7819062.7600
Desktop             2735       10920.0000          1610321.4600
Ios App             2833       15351.0000          2525999.9300
Mobile              4882       21679.0000          3028183.1600

In [12]:
# 6. En fazla kazancı getiren ilk 2 müşteriyi sıralayınız.
#ascending=False büyükten kücüğe sırala
df.sort_values("customer_value_total", ascending=False)[:2]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online                   interested_in_categories_12  order_num_total  customer_value_total
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop       2013-10-11      2021-04-30             2021-04-30              2020-12-24                     200.0000                        2.0000                           684.9700                        45220.1300  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]         202.0000            45905.1000
4315   d5ef8058-a5c6-11e9-a2fc-000d3a38a36f   Android App        Android App       2018-08-06      2021-02-23             2021-02-23              2020-07-06                      67.0000                        1.0000                           130.4900                        36687.8000         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]          68.0000            36818.2900

In [13]:
# 7. En fazla siparişi veren ilk 2 müşteriyi sıralayınız.
df.sort_values("order_num_total", ascending=False)[:2]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online                   interested_in_categories_12  order_num_total  customer_value_total
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop       2013-10-11      2021-04-30             2021-04-30              2020-12-24                     200.0000                        2.0000                           684.9700                        45220.1300  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]         202.0000            45905.1000
7223   cba59206-9dd1-11e9-9897-000d3a38a36f   Android App        Android App       2013-02-21      2021-05-09             2021-05-09              2020-01-25                     130.0000                        1.0000                            49.9900                        12232.2500         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]         131.0000            12282.2400

In [14]:
#Adım 8: Veri ön hazırlık sürecini fonksiyonlaştırınız.
def data_prep(dataframe):
    dataframe["order_num_total"] = dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["customer_value_total"] = dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)
    return df

GÖREV 2: RFM Metriklerinin Hesaplanması

Adım 1: Recency, Frequency ve Monetary tanımlarını yapınız.

Adım 2: Müşteri özelinde Recency, Frequency ve Monetary metriklerini hesaplayınız.

Adım 3: Hesapladığınız metrikleri rfm isimli bir değişkene atayınız.

Adım 4: Oluşturduğunuz metriklerin isimlerini recency, frequency ve monetary olarak değiştiriniz.

recency değerini hesaplamak için analiz tarihini maksimum tarihten 2 gün sonrası seçebilirsiniz

In [15]:
# Veri setindeki en son alışverişin yapıldığı tarihten 2 gün sonrasını analiz tarihi
df["last_order_date"].max() # 2021-05-30

Timestamp('2021-05-30 00:00:00')

In [16]:
# analiz tarihi olarak 2 gün sonrasını baz alırsak
analysis_date = dt.datetime(2021,6,1)

In [17]:
# customer_id, recency, frequnecy ve monetary değerlerinin yer aldığı yeni bir rfm dataframe
rfm = pd.DataFrame()
rfm["customer_id"] = df["master_id"]
rfm["recency"] = (analysis_date - df["last_order_date"]).astype('timedelta64[D]')
rfm["frequency"] = df["order_num_total"]
rfm["monetary"] = df["customer_value_total"]

rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95.0000     5.0000  939.3700
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105.0000    21.0000 2013.5500
2  69b69676-1a40-11ea-941b-000d3a38a36f 186.0000     5.0000  585.3200
3  1854e56c-491f-11eb-806e-000d3a38a36f 135.0000     2.0000  121.9700
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86.0000     2.0000  209.9800

In [18]:
# GÖREV 3: RF ve RFM Skorlarının Hesaplanması (Calculating RF and RFM Scores)
###############################################################

#  Recency, Frequency ve Monetary metriklerini qcut yardımı ile 1-5 arasında skorlara çevrilmesi ve
# Bu skorları recency_score, frequency_score ve monetary_score olarak kaydedilmesi
rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95.0000     5.0000  939.3700             3               4              4
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105.0000    21.0000 2013.5500             3               5              5
2  69b69676-1a40-11ea-941b-000d3a38a36f 186.0000     5.0000  585.3200             2               4              3
3  1854e56c-491f-11eb-806e-000d3a38a36f 135.0000     2.0000  121.9700             3               1              1
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86.0000     2.0000  209.9800             3               1              1

In [19]:

# recency_score ve frequency_score’u tek bir değişken olarak ifade edilmesi ve RF_SCORE olarak kaydedilmesi
rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str))


# 3. recency_score ve frequency_score ve monetary_score'u tek bir değişken olarak ifade edilmesi ve RFM_SCORE olarak kaydedilmesi
rfm["RFM_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str) + rfm['monetary_score'].astype(str))

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE RFM_SCORE
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95.0000     5.0000  939.3700             3               4              4       34       344
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105.0000    21.0000 2013.5500             3               5              5       35       355
2  69b69676-1a40-11ea-941b-000d3a38a36f 186.0000     5.0000  585.3200             2               4              3       24       243
3  1854e56c-491f-11eb-806e-000d3a38a36f 135.0000     2.0000  121.9700             3               1              1       31       311
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86.0000     2.0000  209.9800             3               1              1       31       311

In [20]:
# GÖREV 4: RF Skorlarının Segment Olarak Tanımlanması
# Oluşturulan RFM skorların daha açıklanabilir olması için segment tanımlama ve  tanımlanan seg_map yardımı ile RF_SCORE'u segmentlere çevirme
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE RFM_SCORE          segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95.0000     5.0000  939.3700             3               4              4       34       344  loyal_customers
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105.0000    21.0000 2013.5500             3               5              5       35       355  loyal_customers
2  69b69676-1a40-11ea-941b-000d3a38a36f 186.0000     5.0000  585.3200             2               4              3       24       243          at_Risk
3  1854e56c-491f-11eb-806e-000d3a38a36f 135.0000     2.0000  121.9700             3               1              1       31       311   about_to_sleep
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86.0000     2.0000  209.9800             3               1              1       31       311   about_to_sleep

In [21]:
# GÖREV 5: Aksiyon zamanı!
# 1. Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.
rfm[["segment", "recency", "frequency", "monetary"]].groupby("segment").agg(["mean", "count"])

                     recency       frequency        monetary
                        mean count      mean count      mean count
segment
about_to_sleep      113.7851  1629    2.4015  1629  359.0090  1629
at_Risk             241.6068  3131    4.4724  3131  646.6102  3131
cant_loose          235.4442  1200   10.6983  1200 1474.4682  1200
champions            17.1066  1932    8.9343  1932 1406.6251  1932
hibernating         247.9495  3604    2.3940  3604  366.2671  3604
loyal_customers      82.5948  3361    8.3746  3361 1216.8186  3361
need_attention      113.8287   823    3.7278   823  562.1430   823
new_customers        17.9176   680    2.0000   680  339.9555   680
potential_loyalists  37.1559  2938    3.3043  2938  533.1845  2938
promising            58.9212   647    2.0000   647  335.6727   647

In [23]:
# 2. RFM analizi yardımı ile 2 case için ilgili profildeki müşterileri bulunuz ve müşteri id'lerini csv ye kaydediniz.

# a. FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları 
# genel müşteri tercihlerinin üstünde.
# Bu nedenle markanın tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak iletişime geçeilmek isteniliyor.
# Bu müşterilerin sadık  ve  kadın kategorisinden alışveriş yapan kişiler olması planlandı.
# Müşterilerin id numaralarını csv dosyasına  kadın kategorisinden alışveriş yapan kişiler olması planlandı. 
# Müşterilerin id numaralarını csv dosyasına  yeni_marka_hedef_müşteri_id.cvs olarak kaydediniz.

In [24]:
target_segments_customer_ids = rfm[rfm["segment"].isin(["champions","loyal_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) &(df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
cust_ids.to_csv("yeni_marka_hedef_müşteri_id.csv", index=False)
cust_ids.shape

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE RFM_SCORE          segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95.0000     5.0000  939.3700             3               4              4       34       344  loyal_customers
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105.0000    21.0000 2013.5500             3               5              5       35       355  loyal_customers
2  69b69676-1a40-11ea-941b-000d3a38a36f 186.0000     5.0000  585.3200             2               4              3       24       243          at_Risk
3  1854e56c-491f-11eb-806e-000d3a38a36f 135.0000     2.0000  121.9700             3               1              1       31       311   about_to_sleep
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86.0000     2.0000  209.9800             3               1              1       31       311   about_to_sleep

In [25]:
# b. Erkek ve Çoçuk ürünlerinde %40'a yakın indirim planlanmaktadır. Bu indirimle ilgili kategorilerle ilgilenen geçmişte iyi müşterilerden olan ama uzun süredir
# alışveriş yapmayan ve yeni gelen müşteriler özel olarak hedef alınmak isteniliyor. Uygun profildeki müşterilerin id'lerini csv dosyasına indirim_hedef_müşteri_ids.csv
# olarak kaydediniz.
target_segments_customer_ids = rfm[rfm["segment"].isin(["cant_loose","hibernating","new_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & ((df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]
cust_ids.to_csv("indirim_hedef_müşteri_ids.csv", index=False)

In [26]:
#BONUS TÜM SRECİ FONKSİYONLASTIR
def create_rfm(dataframe):
    # Veriyi Hazırlma
    dataframe["order_num_total"] = dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["customer_value_total"] = dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)


    # RFM METRIKLERININ HESAPLANMASI
    dataframe["last_order_date"].max()  # 2021-05-30
    analysis_date = dt.datetime(2021, 6, 1)
    rfm = pd.DataFrame()
    rfm["customer_id"] = dataframe["master_id"]
    rfm["recency"] = (analysis_date - dataframe["last_order_date"]).astype('timedelta64[D]')
    rfm["frequency"] = dataframe["order_num_total"]
    rfm["monetary"] = dataframe["customer_value_total"]

    # RF ve RFM SKORLARININ HESAPLANMASI
    rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
    rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
    rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])
    rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str))
    rfm["RFM_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str) + rfm['monetary_score'].astype(str))


    # SEGMENTLERIN ISIMLENDIRILMESI
    seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_Risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }
    rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

    return rfm[["customer_id", "recency","frequency","monetary","RF_SCORE","RFM_SCORE","segment"]]

rfm_df = create_rfm(df)